* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px !important;
  font-family: "Poppins";
}

.App {
  min-height: 100vh;
  padding-bottom: 30px;
}

button {
  text-transform: lowercase !important;
  letter-spacing: 1px !important;
  font-size: large !important;
}

.link {
  color: #0b3c91c7;
  transition: 0.2s ease;
  cursor: pointer;
}

.link:hover {
  color: #fc3d21;
}

/* scrol barr*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f115;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
