.form-wrapp {
  min-height: 100vh;
}

.birthday-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#uploaded-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  object-position: center;
  border: 2px solid #0b3d91;
  border-radius: 5px;
  padding: 2px;
}

.upload-photo {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s ease;
}

.upload-photo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.photo-upload-wrapp {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 5px;
}

.photo-upload-wrapp:hover {
  border: 1px solid #000000;
}

/**/

.text-input {
  display: block;
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 5px;
}

.text-input:focus {
  outline: 2px solid #fc3e21ac;
}
